<div class="albums" *ngFor="let album of filtered">
  <div *ngIf="album.userId === this.page">
    <a [routerLink]="['../albums/'+album.id]" (click)="setData(album.id)">{{album.title}}</a>
    <button (click)="erase(album.id)">X</button>
  </div>
</div>
<div id="page">
  <p>--Page--</p>
  <select>
    <option (click)="changePage(1)">1</option>
    <option (click)="changePage(2)">2</option>
    <option (click)="changePage(3)">3</option>
    <option (click)="changePage(4)">4</option>
    <option (click)="changePage(5)">5</option>
    <option (click)="changePage(6)">6</option>
    <option (click)="changePage(7)">7</option>
    <option (click)="changePage(8)">8</option>
    <option (click)="changePage(9)">9</option>
    <option (click)="changePage(10)">10</option>
  </select>
</div>
<router-outlet></router-outlet>
