.json-albums{
  width: 50%;
  margin: 0 25%;
}
.albums{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.albums button{
  float: right;
}
#page{
  margin-left: 25%;
}

.recent-added{
  width: 50%;
  margin-left: 25%;
}

.recent-added .news{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.recent-added .news button{
  float: right;
}

.recent-added input{
  width: 25%;
}
