article{
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 958px;
}
#phones{
    position: relative;
    float: left;
}
.login{
    width: 348px;
    height: 379px;
    position: relative;
    float: right;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    align-items: center;
    text-align: center;
}
.sign-up{
    width: 348px;
    height: 41px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    padding: 10px 0;
    position: relative;
    float: right;
    text-align: center;
}
.get-app{
    width: 350px;
    height: 94.5px;
    box-sizing: content-box;
    position: relative;
    float: right;
}
.logo{
    margin-top: 36px;
    margin-bottom: 12px;
    width: 350px;
    width: 109px;
    line-height: 18px;
}
.loginform{
    position: relative;
    margin-top: 24px;
    box-sizing: border-box;
}
.facebook-logo{
    height: 16px;
    width: 16px;
}
#google-play{
    width: 134.283px;
    height: 40px;
    box-sizing: border-box;
}
#microsoft{
    width: 110.767px;
    height: 40px;
}